{% trans_default_domain 'FOSUserBundle' %}
{% extends "MyAppUserBundle:Default:loginInscription.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="form-bottom">
<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
<div class="form-group">
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Utilisateur..." class="form-username form-control" id="form-username" />
</div>
<div class="form-group">
    <input type="password" id="password" name="_password" required="required" placeholder="Votre mot de passe..." class="form-username form-control"/>
</div>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    <br>
    <input type="submit" id="_submit" class="btn" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
</div>
{% endblock fos_user_content %}